
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER NAVBAR SECTION */
li, a, button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
} 

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 89px;
    padding: 33px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 40px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #A6B7F8;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: white;
    color: #030712;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #A6B7F8;
}

/* BODY */
body {
    background-color: #030712;
}

/* HERO SECTION */
html {
    font-family: "Inter", "Sora", sans-serif;
    font-size: 20px;
}

.hero {
    width: 100%;
    height: 64.3vh;
    color: white;
}

.container {
    width: 88.9%;
    height: 643px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(closest-side, #49265c, 
    #2a0f3e, #06051c);
}

.container .info {
    margin-left: 64px;
    margin-right: 66px;
    position: relative;
    z-index: 1;
}

.container .info h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-top: 2rem;
}

.container .info p {
    font-size: 1.6rem;
    max-width: 70%;
    color: #D1D5DB;
}

.container .info a {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    background-color: #A6B7F8;
    border-radius: 15px;
    padding: 10px 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #030712;
}

/* Location Information */
.container .info .sub-info-1 {
    width: 70%;
    height: 24px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 7px;
}

.container .info .sub-info-1 .location-img {
    width: fit-content;
    height: 100%;
    display: flex;
}

.container .info .sub-info-1 .location-img img {
    height: 24px;
    width: 20px;
    align-self: center;
}

.container .info .sub-info-1 .location-info {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.container .info .sub-info-1 .location-info p {
    list-style: none;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20px;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

/* Availability Information */
.container .info .sub-info-2 {
    width: 70%;
    height: 24px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 7px;
}

.container .info .sub-info-2 .green-dot-img {
    width: fit-content;
    height: 100%;
    display: flex;
}

.container .info .sub-info-2 .green-dot-img img {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    justify-content: center;
    align-self: center;
}

.container .info .sub-info-2 .availability-info {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.container .info .sub-info-2 .availability-info p {
    list-style: none;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    line-height: 20px;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

/*Hero Portrait*/
/*.container .hero-portrait {
    width: 80%;
    float: right;
    background-color: rgba(0, 255, 255, 0.171);
    z-index: 2;
}

.container .hero-portrait .woman-animation-img {
    width: 100%;
    z-index: 2;

}
*/

/* ABOUT SECTION */
.about {
    width: 100%;
    height: 99.2vh;
    color: #D1D5DB;
}

.about-container {
    height: 49.6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151127;
}

.about-container .about-info {
    max-height: 40rem;
    width: 88.9%;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

.about-container .about-info h1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

/*About Information*/
.about-container .about-info .sub-info-about {
    display: flex;
    justify-content: center;
}

.box {
    width: 29.2rem;
    max-height: 34.7rem;
    align-items: center;
    justify-content: center;
}

#box1 {
    margin-right: 2.4rem;
    margin-left: 1.6rem;
    height: 100%
}

#box1 img {
    width: 100%
}

#box2 {
    margin-right: 1.6rem;
}

#box2 p {
    display: flex;
    font-size: 1rem;
}

/* MY TOOLS SECTION */
.mytools {
    width: 100%;
    height: 484px;
    color: #D1D5DB;
}

.mytools-container {
    height: 484px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mytools-container .mytools-info {
    width: 88.9%;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 96px;
    margin-bottom: 96px;
    position: relative;
}

.mytools-container .mytools-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.mytools-container .mytools-info .sub-info-mytools {
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}

.tool {
    width: 154px;
    height: 154px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid white;
}

.tool:hover {
    color: #A6B7F8;
}

#tool1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#tool2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#tool3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#tool4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#tool5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* EXPERIENCE SECTION */
.experience {
    width: 100%;
    height: 484px;
    color: #D1D5DB;
}

.exp-container {
    height: 484px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151127;
}

.exp-container .exp-info {
    max-height: 40rem;
    width: 88.9%;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

.exp-container .exp-info h1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

.exp-container .exp-info .sub-info-exp {
    display: flex;
    justify-content: center;
}

.exp {
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#exp1 {
    background-color: rgb(228, 103, 103);
}

#exp2 {
    background-color: rgb(228, 215, 103);
}

#exp3 {
    background-color: rgb(103, 228, 145);
}

/* WORK SECTION */
.work {
    width: 100%;
    height: 484px;
    color: #D1D5DB;
}

.work-container {
    height: 484px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-container .work-info {
    max-height: 40rem;
    width: 88.9%;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

.work-container .work-info h1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

.work-container .work-info .sub-info-work {
    display: flex;
    justify-content: center;
}

.project {
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#proj1 {
    background-color: rgb(228, 103, 103);
}

#proj2 {
    background-color: rgb(228, 215, 103);
}

#proj3 {
    background-color: rgb(103, 228, 145);
}

/* CONTACT SECTION */
.contact {
    width: 100%;
    height: 484px;
    color: #D1D5DB;
}

.contact-container {
    height: 484px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151127;
}

.contact-container .exp-info {
    max-height: 40rem;
    width: 88.9%;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

.contact-container .contact-info h1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

.contact-container .contact-info .sub-info-contact {
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#cont1 {
    background-color: rgb(228, 103, 103);
}

#cont2 {
    background-color: rgb(228, 215, 103);
}

/* FOOTER SECTION */
.footer {
    width: 100%;
    height: 75px;
    background: linear-gradient(to right, #48255C, #A6B7F8);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 43px;
}

.footer-logo {
    cursor: pointer;
    margin-right: auto;
    height: 60px;
}

.footer-info {
    height: 24px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 7px;
    margin-left: auto;
}

.footer-info .cp-icon {
    height: 100%;
    display: flex;
}

.footer-info .cp-icon img {
    height: 16px;
    width: 16px;
    align-self: center;
}

.footer-info .creator-info {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.footer-info .creator-info p {
    list-style: none;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}





